
<div class="container">
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card shadow-effect" routerLink="/categories">
            <div class="card-body text-center bg-secondry-theme">
                 <h1><i class="fa fa-bars text-theme-primary"></i></h1>
                  <h2 class="text-theme-primary">Category

                  </h2>
                  <p>Manage Your Categories Details</p>

            </div>

          </div>  
        </div>    
      </div>
</div>

