
<footer>
      <div class="container">
            <div class="row">
            
                  <div class="col-md-12 text-center">
                    <div class="site-logo">
                        BlogsEra
                    </div> 
                    <ul class="nav justify-content-center">
                        <li class="mav-item"><a href="" class="nav-link">Home</a></li>
                                            <li class="mav-item"><a href="" class="nav-link">About</a></li>
                        <li class="mav-item"><a href="" class="nav-link">Terms&Conditions</a></li>
                                                <li class="mav-item"><a href="" class="nav-link">contact</a></li>


                  </ul>   

                  </div>
                  <p class="mb-2 mt-2 ppp text-center"> copyright @ 2023 blogsEra</p>
            </div>
      </div>
</footer>

